# Dependencies
node_modules
.pnpm-store

# Production build output
dist

# Local data & uploads (keep sample videos)
server/data/uploads/*
!server/data/uploads/.gitkeep
!server/data/uploads/videos/*.mp4

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Database and Certificates
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
server/certs/
